New XMPP RFCs to replace old XMPP RFCs

Please add support of last RFCs.

About XMPP RFCs:
- https://tools.ietf.org/html/rfc3920 -> https://tools.ietf.org/html/rfc6120 to https://tools.ietf.org/html/rfc7590
- https://tools.ietf.org/html/rfc3921 -> https://tools.ietf.org/html/rfc6121
- https://tools.ietf.org/html/rfc3922
- https://tools.ietf.org/html/rfc3923
- https://tools.ietf.org/html/rfc4622 -> https://tools.ietf.org/html/rfc5122
- https://tools.ietf.org/html/rfc6122 -> https://tools.ietf.org/html/rfc7622
- https://tools.ietf.org/html/rfc7711
- https://tools.ietf.org/html/rfc7712
- https://tools.ietf.org/html/rfc7395

Difference noted in RFCs:
- https://tools.ietf.org/html/rfc6120#appendix-D
- https://tools.ietf.org/html/rfc6121#appendix-E
- https://tools.ietf.org/html/rfc6122#appendix-C
- https://tools.ietf.org/html/rfc7622#appendix-A

Note:
- http://jabber.996255.n3.nabble.com/Changes-missing-from-RFC-6120-s-Differences-from-RFC-3920-td30486.html

RFC3920 -> RFC6120
- https://tools.ietf.org/tools/rfcdiff/rfcdiff.pyht?url1=https://www.ietf.org/rfc/rfc3920.txt&url2=https://www.ietf.org/rfc/rfc6120.txt

RFC3921 -> RFC6121
- https://tools.ietf.org/tools/rfcdiff/rfcdiff.pyht?url1=https://www.ietf.org/rfc/rfc3921.txt&url2=https://www.ietf.org/rfc/rfc6121.txt

Draft but Very Important:
- https://tools.ietf.org/html/draft-cridland-xmpp-session-01

Can you briefly describe the difference? We are using smack library for xmpp communication, so if something is not supported in xmpp core functionality should be addressed there.

Please, can you discuss questions and problems on the community forum first before opening new issues as said in the template?



@damencho: Any news one year after this ticket?